body {
    background-image: url("mg81.gif");}
    
h1 {
    font-size: xx-large;
    color: rgb(241, 238, 238);
    text-align: center;
}

h2 {
color: #fff;
    margin-top: 20px;
}

form {
    width: 400px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type=text] {
    border: 2px solid rgb(19, 19, 20);
    border-radius: 4px;
  }

button {
    padding: 10px 20px;
    background-color: #18181a;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3c5a77;
}

.header-box {
    background-color: #333; 
    color: #9b9494; 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}